@font-face {
  font-family: 'Poppins';
  src: local('Poppins-Regular'), url(./fonts/Poppins-Regular.ttf) format('truetype');
}

* {
  font-family: Poppins, Arial, Helvetica, sans-serif;
  --main-color: #30C4F3;
  --main-color-unselct: #56CCF2;
  --white: #FFFFFF;
  --text-color: #282B31;
  --shadow: #E0E0EC;
  --bg-main: #EAEDF2;
  box-sizing: inherit;
  color: var(--main-color);
}

body {
  background-color: var(--bg-main);
}

.container {
  padding: 0 calc(18vw - 10rem)
}

.container-inner {
  display: flex;
  height: 100%;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

img {
  margin-right: .8rem;
  vertical-align: middle;
}

/* Style the header */
.header {    
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  height: 48px;
  margin-right: 3rem;
  margin-left: 3rem;
}

.menu {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
}

.menu-item {
  margin-right: 2rem;
  padding: .2rem 0;
  cursor: pointer;
  line-height: 1;
  &:hover {
    box-shadow: 0 1px 0 var(--main-color);
  }
}


/* Main */
.main {
  display: flex;
  min-height: 600px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.drag-drop-area {
  display: flex;
  justify-content: space-around;
  min-width: 600px;
  min-height: 300px;
  color: var(--text-color);
}

.upload-area {
  width: 45%;
  height: 200px;
  display: flex;
  justify-content: center;
  align-self: center;
  border-radius: 8px;
  border-style: dotted;
  border-color: var(--main-color);
  background-image: url("images/corner-left-up.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.message-area {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}


/* footer navigation */
.footer {
  display: flex;
  width: 100%;
  height: 48px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.box-definition {
  background-color: var(--white);  
  box-shadow: 0 4px 0px var(--shadow), 0 0px 0px var(--shadow);
  color: var(--text-color);
  border-radius: 4px;
}